<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazing app to help you find the portfolio return</title>
    <style>
        h1{
            text-align: center;
        }
        form{
            background-color: lightblue;
            margin: 25px 30%;
            padding: 20px;
        }
        .field{
            padding: 10px;
        }
        .submit{
            background-color: lightpink;
            height: 30px;
            width: 100px;
        }
        input{
            margin: 10px;
            padding: 5px;
        }
    </style>
  </head>

  <body>
    <h1>
        Hi!!!! Want to learn about your investment portfolio return? 
        This is an app to a get quick return of your stock portfolio!
      </h1>
      <h2>
      Please enter the stock ticker symbol in your portfolio, purchase price, and the amount you invested in each stock
      </h2>
      <h3>
      E.g. AAPL MSFT
      </h3>
      <form action = '' method="post">
      <label for = ''>
        Ticker:<input type = 'text' name = 'tickers_symbols'>
        Initial Investing Price (per stock unit):<input type = 'text' name = 'purchase_prices'>
        Stock Unit Purchased:<input type = 'text' name = 'amount_invested'>
      </label>
      <button>Check Value Now</button>
      </form>
    
</body>
</html>