<!DOCTYPE html>
<html>
  <head>
    <title>Input Form</title>
  </head>
  <body>
    <form method="post" action="{{ url_for('submit') }}">
      <label for="tickers_symbols">tickers_symbols:</label>
      <input type="text" name="name" required>
      <br>
      <label for="purchase_prices">purchase_prices:</label>
      <input type="number" name="purchase_prices" required>
      <br>
      <label for="amount_invested">amount_invested:</label>
      <input type="number" name="amount_invested" required>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>